body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ccc;
    padding: 10px;
}

.logo {
    float: left;
    height: 23vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0853f7;

}

nav ul li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
    border-color: white;
    transition: color 0.3s;
}

nav ul li:hover {
    color: rgb(196, 10, 10);
}


nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
}


.banner {
    width: 100%;
    background-color: #ccc;
}

.banner-container {
    display: flex;
    height: 400px; 
    margin-right: 200px;
    margin-top: 1px;
    margin-bottom: 7.5px;
    background-color: #ccc; 
}

.text-sobre {
    flex: 1;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.image-sobre {
    float: right;
    max-width: 50%;
    max-height: 100vh;
    margin-left: 40px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0853f7;
    padding: 10px;
    text-align: center;
}